.post-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-content p {
  width: 100%;
}

.post-content .post-thumbnail {
  margin-left: 0;
}

.category-interview {
  padding-bottom: 20px;
}

.category-interview .question {
  color: #4a86e8;
  font-size: 110%;
  font-weight: bold;
}

.category-interview .question:before {
  content: "\2014";
  margin-right: 10px;
}

.category-interview .sub_title {
  font-size: 130%;
  font-weight: bold;
  margin: 50px 0;
}

.category-interview .post-thumbnail {
  position: relative;
  overflow: hidden;
  width: 80%;
}

.category-interview .post-thumbnail:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.category-interview .post-thumbnail img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}

.category-interview .wp-block-image {
  position: relative;
  overflow: hidden;
  width: 80%;
}

.category-interview .wp-block-image:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.category-interview .wp-block-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}

.chip-wrapper .chip {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12.8px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  border-radius: 16px;
  touch-action: manipulation;
}

.chip-wrapper .selected {
  color: #ffffff;
  background-color: #2196f3;
}

.chip-wrapper .unselected {
  background-color: #f1f1f1;
}

body.home #content {
  padding: 0 0 30px 0;
  height: 2200px;
}

body.home #content .wrap {
  width: 1230px;
  height: 2200px;
  margin: 0 auto;
  padding: 0;
}

.front-page .main {
  width: 100%;
  height: 1630px;
}

.front-page .sections {
  margin-right: 0;
  width: 1230px;
}

.front-page .sections .latests {
  justify-content: flex-end;
}

.front-page .sections .latests .latest-link {
  width: 50%;
  height: 235px;
  padding: 25px 15px 0px 15px;
}

.front-page .sections .latests .latest-link .image {
  width: 100%;
  height: 365px;
  background: blue;
}

.front-page .sections .latests .latest-link .titleset {
  padding: 15px 20px 15px 20px;
  height: 137px;
  width: 100%;
  background: white;
}

.front-page .sections .latests .latest-link .titleset .card-title {
  font-size: 20px;
  color: black;
  height: 90px;
  width: 545px;
  padding: 0 0 0px;
  text-align: justify;
  display: table-cell;
  vertical-align: middle;
}

.front-page .sections .latests .latest-link .card {
  width: 100%;
  height: 505px;
}

.front-page .sections .populars {
  width: 75%;
}

.front-page .sections .populars .popular-link {
  width: 615px;
  height: 235px;
  padding: 25px 15px 0px 15px;
}

.front-page .sections .populars .popular-link .image {
  width: 50%;
  height: 235px;
  background: yellow;
}

.front-page .sections .populars .popular-link .titleset {
  padding: 15px 20px 15px 20px;
  height: 235px;
  width: 50%;
  background: white;
}

.front-page .sections .populars .popular-link .titleset .card-title {
  font-size: 17px;
  color: black;
  height: 90px;
  padding: 0 0 0px;
  text-align: justify;
  display: table-cell;
  vertical-align: middle;
}

.front-page .sections .populars .popular-link .card {
  width: 100%;
  height: 235px;
  display: flex;
}

.front-page .sections .populars .hoge-link {
  width: 307.5px;
  height: 500px;
  padding: 25px 15px 0px 15px;
  position: absolute;
  right: 105px;
}

.front-page .sections .populars .hoge-link .image {
  width: 100%;
  height: 350px;
  background: pink;
}

.front-page .sections .populars .hoge-link .titleset {
  padding: 15px 20px 15px 20px;
  height: 150px;
  width: 100%;
  background: white;
}

.front-page .sections .populars .hoge-link .titleset .card-title {
  font-size: 17px;
  color: black;
  height: 90px;
  padding: 0 0 0px;
  text-align: justify;
  display: table-cell;
  vertical-align: middle;
}

.front-page .sections .populars .hoge-link .card {
  width: 100%;
  height: 505px;
}

.front-page .sections .experiences {
  width: 50%;
}

.front-page .sections .experiences .experience-link {
  width: 615px;
  height: 235px;
  padding: 25px 15px 0px 15px;
  position: absolute;
  right: 105px;
}

.front-page .sections .experiences .experience-link .image {
  width: 100%;
  height: 365px;
  background: green;
}

.front-page .sections .experiences .experience-link .titleset {
  padding: 15px 20px 15px 20px;
  height: 137px;
  width: 100%;
  background: white;
}

.front-page .sections .experiences .experience-link .titleset .card-title {
  font-size: 17px;
  color: black;
  height: 90px;
  padding: 0 0 0px;
  text-align: justify;
  display: table-cell;
  vertical-align: middle;
}

.front-page .sections .experiences .card-wrapper:first-child {
  width: 307.5px;
  height: 235px;
}

.front-page .sections .experiences .card-wrapper:first-child .card-thumbnail {
  height: 355px;
}

.front-page .sections .experiences .card-wrapper:first-child .titleset {
  padding: 15px 20px 15px 20px;
  height: 150px;
}

.front-page .sections .experiences .card-wrapper:first-child .card-title {
  font-size: 17px;
  height: 90px;
}

.front-page .sections .useful-infos {
  width: 75%;
}

.front-page .sections .useful-infos .useful-info-link {
  width: 615px;
  height: 235px;
  padding: 25px 15px 0px 15px;
  position: absolute;
  top: 2125px;
  left: 105px;
}

.front-page .sections .useful-infos .useful-info-link .image {
  width: 50%;
  height: 235px;
  background: orange;
}

.front-page .sections .useful-infos .useful-info-link .titleset {
  padding: 15px 20px 15px 20px;
  height: 235px;
  width: 50%;
  background: white;
}

.front-page .sections .useful-infos .useful-info-link .titleset .card-title {
  font-size: 17px;
  color: black;
  height: 90px;
  padding: 0 0 0px;
  text-align: justify;
  display: table-cell;
  vertical-align: middle;
}

.front-page .sections .useful-infos .useful-info-link .card {
  width: 100%;
  height: 235px;
  display: flex;
}

.front-page .sections .useful-infos .card-wrapper:first-child {
  width: 305px;
  height: 235px;
}

.front-page .sections .useful-infos .hoge-link {
  width: 307.5px;
  height: 500px;
  padding: 25px 15px 0px 15px;
  position: absolute;
  right: 105px;
}

.front-page .sections .useful-infos .hoge-link .image {
  width: 100%;
  height: 350px;
  background: greenyellow;
}

.front-page .sections .useful-infos .hoge-link .titleset {
  padding: 15px 20px 15px 20px;
  height: 150px;
  width: 100%;
  background: white;
}

.front-page .sections .useful-infos .hoge-link .titleset .card-title {
  font-size: 17px;
  color: black;
  height: 90px;
  padding: 0 0 0px;
  text-align: justify;
  display: table-cell;
  vertical-align: middle;
}

.front-page .sections .useful-infos .hoge-link .card {
  width: 100%;
  height: 505px;
}

.front-page .cards-section-wrapper {
  margin-bottom: 10px;
  height: 534px;
  justify-content: flex-end;
}

.front-page .card-wrapper {
  width: 307.5px;
  height: 235px;
  padding: 0px 15px 0;
}

.front-page .card {
  padding: 0;
}

.front-page .card:hover {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: all ease .3s;
}

.front-page .card-thumbnail {
  background-size: cover;
  background-position: center center;
  padding-top: 52.3%;
  width: 100%;
  height: auto;
}

.front-page .titleset {
  padding: 15px 15px 10px 15px;
  height: 93px;
}

.front-page .titleset .card-title {
  font-size: 15px;
  padding: 0 0 0px;
  height: 48px;
  text-align: justify;
}

.front-page .titleset h2 {
  overflow: hidden;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.front-page .titleset i, .front-page .titleset span {
  font-size: 12px;
  vertical-align: middle;
}

.front-page .label {
  background-color: #66a6ff;
  background: linear-gradient(to right, #66a6ff 0%, #5de3e8 100%);
  left: -10px;
  top: 18px;
  width: 120px;
  height: 24px;
  padding-left: 0.1em;
  line-height: 26px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
  z-index: 2;
  display: inline-block;
  position: relative;
}

.front-page .label:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.front-page .label:hover {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
