.post-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-content p {
  width: 100%;
}

.post-content .post-thumbnail {
  margin-left: 0;
}

.category-interview {
  padding-bottom: 20px;
}

.category-interview .question {
  color: #4a86e8;
  font-size: 110%;
  font-weight: bold;
}

.category-interview .question:before {
  content: "\2014";
  margin-right: 10px;
}

.category-interview .sub_title {
  font-size: 130%;
  font-weight: bold;
  margin: 50px 0;
}

.category-interview .post-thumbnail {
  position: relative;
  overflow: hidden;
  width: 80%;
}

.category-interview .post-thumbnail:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.category-interview .post-thumbnail img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}

.category-interview .wp-block-image {
  position: relative;
  overflow: hidden;
  width: 80%;
}

.category-interview .wp-block-image:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.category-interview .wp-block-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}

.category-interview .wp-block-image figcaption {
  margin: 48px 0px 16px 0px;
  text-align: center;
}

.chip-wrapper .chip {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12.8px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  border-radius: 16px;
  touch-action: manipulation;
}

.chip-wrapper .selected {
  color: #ffffff;
  background-color: #2196f3;
}

.chip-wrapper .unselected {
  background-color: #f1f1f1;
}
