.post-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  p{
    width: 100%;
  }
  .post-thumbnail{
    margin-left: 0;
  }
}
.card-title {
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Hiragino Kaku Gothic ProN, YuGothic, Yu Gothic, "游ゴシック", Meiryo,sans-serif;
}