#content {
  padding: 0;
}
#main {
  max-width: 960px;
  display: flex;
  background: #fff;
}
.chip-name {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.cat-content, article.post, 
article.page, article.wp101,
article.seo101{
  margin: 0 0 5px;
}
.cat-content {
  margin-bottom: 25px;
  padding: 20px;
}
.articles {
  .category-interview, .category-useful-info, .category-how-to {
    padding-bottom: 0;
    .post-content {
      padding: 0;
      background: rgba(0,0,0, 0.4);
      a {
        display: flex;
        &:hover {
          color: #ffff;
        }
      }
      dl {
        padding: 15px;
        h2 {
          border-left: none;
          background: none;
        }
        ul {
          list-style: none;
          padding: 0;
          border: none;
          li {
            margin: 0;
            background: none;
            color: rgba(255,255,255, 0.7);
          }
        }
      }
    }
    .card-thumbnail {
      height: 153.3px;
      padding-top: 0;
    }
    .post-title {
      font-size: 22px;
      clear: both;
      font-weight: bold;
      padding: 0;
      color: #ffff;
    }
  }
}

@media screen and (max-width: 991px){
  .category-interview, .category-useful-info, .category-how-to {
    .post-header {
      padding: 20px !important;
    }
  }
}

#side {
  width: 229px;
  float: none;
  margin: 0 0 5px 10px;
  background: rgba(0, 0, 0, 0.4);
  .widget {
    padding: 15px 20px;
  }
  h2 {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
  }
  ul {
    border-top: 1px solid rgba(255,255,255, 0.2);
    .children {
      border-top: none;
    }
  }
  a {
    font-size: 14px;
    line-height: 1.4;
    display: block;
    padding: 10px 0;
    position: relative;
    font-weight: normal;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    span {
      float: right;
    }
  }
}