.chip-wrapper{
  $fs:16px;
  .chip{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0 $fs / 1.25;
    height: $fs * 2;
    font-size: $fs;
    line-height: $fs * 2;
    border-radius: $fs;
    touch-action: manipulation;
  }
  .selected{
    color: #ffffff;
    background-color: $chip-selected-color;
  }
  .unselected{
    background-color: $chip-unselected-color;
  }
}


