.chip-wrapper{
  $fs:16px;
  .chip{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0 $fs / 1.25;
    height: $fs * 2;
    font-size: $fs;
    line-height: $fs * 2;
    border-radius: $fs;
    touch-action: manipulation;
  }
  .selected{
    color: #ffffff;
    background-color: $chip-selected-color;
  }
  .unselected{
    background-color: $chip-unselected-color;
  }
}

.form input[type="submit"], form button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-bottom: 0.6em;
}

.form input[type="submit"], form button :active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
