.front-page {
  .main {
    width: 100%;
  }
  .main-inner{
    margin-right: 0;
  }
  // .box {
  //   width: 585px;
  // }
  .boxContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .card-wrapper:first-child {
    width: 50%;
    height: 500px;
  }
  // .card-wrapper:first-child a {
    
  // }
  .card-wrapper {
    width: 25%;
    height: 235px;
    padding: 30px 15px 0;
  }
  // .card:first-child {
  //   // height: 500px;
  //   padding: 0;
  // }
  .card {
    // height: 235px;
    padding: 0;
  }
  .card-thumbnail {
    background-size: cover;
    background-position: center center;
    padding-top: 62.4%;
    width: 100%;
    height: auto;
  }
  .titleset {
    padding: 15px 15px 10px 15px;
  }
  .card-title {
    font-size: 15px;
    padding: 0 0 0px;
  }
  i, span {
    font-size: 12px;
  }
}
body.home {
  #content {
    padding-top: 0;
    .wrap {
      width: 1200px;
      margin: 0 auto;
      padding: 0;
    }
  }
}