body.home {
  #content {
    padding: 0 0 30px 0;
    height: 2200px;
    .wrap {
      height: 2200px;
      width: 85%;
      margin: 0 auto;
      padding: 0;
    }
  }
}
.front-page {
  .main {
    width: 100%;
    height: 1630px
  }
  .sections{
    margin-right: 0;
    width: 100%;
    .section1 {
      justify-content: flex-end;
      .section1-link {
        width: 50%;
        height: 235px;
        padding: 25px 15px 0px 15px;
        .titleset {
          .card-title {
            font-size: 20px;
            color: black;
            height: 90px;
            width: 100%;
            padding: 0 0 0px;
            text-align: justify;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .card {
          width: 100%;
          height: 505px;
        }
      }
      .card-wrapper {
        width: 25%;
      }
    }
    .section2 {
      display: flex;
      .post-loop {
        width: 75%;
        .section2-link {
          width: 66.66%;
          height: 235px;
          padding: 25px 15px 0px 15px;
          .titleset {
            .card-title {
              font-size: 17px;
              color: black;
              height: 90px;
              padding: 0 0 0px;
              text-align: justify;
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
        .card {
          width: 100%;
          height: 235px;
          display: flex;
        }
      }
      .hoge-link {
        width: 25%;
        height: 500px;
        padding: 25px 15px 0px 15px;
        .image {
          width: 100%;
          height: 350px;
          background: pink;
        }
        .titleset {
          padding: 15px 20px 15px 20px;
          height: 150px;
          width: 100%;
          background: white;
          .card-title {
            font-size: 17px;
            color: black;
            height: 90px;
            padding: 0 0 0px;
            text-align: justify;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .card {
          width: 100%;
          height: 500px;
        }
      }
      .card-wrapper {
        width: 33.3%;
      }
    }
    .section3 {
      display: flex;
      .post-loop {
        width: 50%;
        .card-wrapper:first-child {
          width: 50%;
          height: 235px;
          .card-thumbnail {
            height: 355px;
          }
          .titleset {
            padding: 15px 20px 15px 20px;
            height: 150px;
          }
          .card-title {
            font-size: 17px;
            height: 90px;
          }
        }
        .card-wrapper {
          width: 50%;
        }
      }
      .section3-link {
        width: 50%;
        height: 235px;
        padding: 25px 15px 0px 15px;
        img {
          height: 367px;
        }
        .titleset {
          height: 137px;
          .card-title {
            font-size: 17px;
            color: black;
            height: 90px;
            padding: 0 0 0px;
            text-align: justify;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
    .section4 {
      display: flex;
      .post-loop {
        width: 75%;

      }
      .section4-link {
        width: 66.66%;
        height: 235px;
        padding: 25px 15px 0px 15px;
        .titleset {
          .card-title {
            font-size: 17px;
            color: black;
            height: 90px;
            padding: 0 0 0px;
            text-align: justify;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .card {
          width: 100%;
          height: 235px;
          display: flex;
        }
      }
      .card-wrapper {
        width: 33.3%;
        height: 235px;
      }
      .hoge-link {
        width: 25.4%;
        height: 500px;
        padding: 25px 15px 0px 15px;
        .image {
          width: 100%;
          height: 350px;
          background: greenyellow;
        }
        .titleset {
          padding: 15px 20px 15px 20px;
          height: 150px;
          width: 100%;
          background: white;
          .card-title {
            font-size: 17px;
            color: black;
            height: 90px;
            padding: 0 0 0px;
            text-align: justify;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .card {
          width: 100%;
          height: 505px;
        }
      }
    }
  }
  .cards-section-wrapper {
    margin-bottom: 10px;
    height: 534px;
    justify-content: flex-end;
  }
  .card-wrapper {
    height: 235px;
    padding: 0px 15px 0;
  }
  .card {
    padding: 0;
    &:hover{
      box-shadow: 0 10px 20px -5px rgba(0,0,0,.3);
      text-decoration: none;
      transition: all ease .3s;
    }
  }
  .card-thumbnail {
    background-size: cover;
    background-position: center center;
    padding-top: 52.3%;
    width: 100%;
    height: auto;
  }
  .titleset {
    padding: 15px 15px 10px 15px;
    height: 93px;
    width: 100%;
    background-color: white;
    .card-title {
      font-size: 15px;
      padding: 0 0 0px;
      height: 48px;
      text-align: justify;
    }
    h2 {
      overflow: hidden;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    i, span {
      font-size: 12px;
      vertical-align: middle;
    }
  }
  .label {
    background-color: #66a6ff;
    background: linear-gradient(to right, #66a6ff 0%, #5de3e8 100%);
    left: -10px;
    top: 18px;
    width: 43%;
    height: 24px;
    padding-left: 0.1em;
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    z-index: 2;
    display: inline-block;
    position: relative;
    &:hover{
      box-shadow: 0 10px 20px -5px rgba(0,0,0,.3);
      text-decoration: none;
    }
    &:after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      z-index: 1;
    }
  }
  .tags {
    font-size: 11px;
    display: inline-block;
    position: relative;
    right: -100px;
    top: -30px;
    color: #2581c4;
  }
}