.category-interview{
  padding-bottom: 20px;
  .question{
    color: $question-color;
    font-size: 110%;
    font-weight: bold;
    &:before{
      content: "\2014";
      margin-right: 10px;
    }
  }
  .sub_title{
    font-size: 130%;
    font-weight: bold;
    margin: 50px 0;
  }
  .thumbnai-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .post-thumbnail{
      max-width: 80%;
    }
  }
}