.category-interview{
  padding-bottom: 20px;
  .question{
    color: $question-color;
    font-size: 110%;
    font-weight: bold;
    &:before{
      content: "\2014";
      margin-right: 10px;
    }
  }
  .sub_title{
    font-size: 130%;
    font-weight: bold;
    margin: 50px 0;
  }
  .post-thumbnail{
    @include responsive-img(80%);
  }
  .wp-block-image{
    @include responsive-img(80%);
    .figcaption {
      margin: 48px 0px 16px 0px;
      text-align: center;
    }
  }
}